body {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    background-color: #ebebeb;
}

#wrap {
    width: 100%;
    max-width: 1600px;
    height: calc(100vh - 120px);
    margin: 60px auto;
}